@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

}

@media (min-width: 320px) and (max-width: 427px) {

    /* ---------------------MODAL----------------------- */
    .modal{
       width: 100%;
    }
 }

 @media screen and (max-width: 767px){

    .portfolio-list {
        width: 270px;
    }
 }


@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    /* -----------------------HEADER-------------------------- */

    @media screen and (min-width: 768px) and (max-width: 1157px){

        .menu-open-btn{
            display: none;
        }
    
        .header-link{
            margin-right: 0;
        }
    
        .header-list{
            display: flex;
            margin-left: 120px;
        }
    
        .address-list{
            margin-left: 121px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 12px;
        } 
    
        .address-list-link{
            font-size: 12px;
            line-height:1.17;
            letter-spacing: 0.04em;
            padding: 0;
        }
    
    }
    
    

    /* -------------------------------HERO---------------------------- */

    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
    } 
}
    
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    /* ----------------------ADVANTAGES---------------------------- */
    .advantages-item {
        width: calc((100% - 24px) / 2);
    }

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-title {
        display: block;
    }

    .advantages-text>span {
        display: block;
    }

    /* ---------------------------TEAM------------------------- */
    .team-list {
        gap: 64px 24px;

    }

    /* ----------------------------CUSTOMS-------------------------- */



    .customs-item {

        max-width: 168px;
        gap: 72px 24px;

    }

    .customs-list {
        gap: 72px 24px;
        justify-content: center;
    }

    /* ----------------------------FOOTER------------------------- */

    @media screen and (min-width:768px) and (max-width:1157px) {
        .footer-container {
            padding-left: 108px;
        }
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-link {
        display: block;
    }

    .footer-container-two {
        margin-left: 24px;
        display: inline-block;
    }

    .footer-title {
        margin-top: 0;
        justify-content: start;
    }

    .footer-container-third {
        display: block;
    }

    .footer-input {
        min-width: 264px;
    }

    .footer-form-text {
        display: block;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    /* ----------------------------PORTFOLIO----------------------- */

    .portfolio{
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-list{
        justify-content: center;
    }

    .portfolio-img{
        width: 356px;
    }

    .portfolio-second-list{
        gap: 72px 24px;
    }
}

    @media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

        /* -----------------------HEADER-------------------------- */

    .menu-open-btn{
        display: none;
    }

    .header-list{
        display: flex;
    }
    .address-list{
        display: flex;
        padding: 22px 0;
    }

    /* -------------------------------HERO---------------------------- */

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    } 
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
    }

    /* -----------------------ADVANTAGES------------------------- */
    .advantages {
        padding: 120px 0;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-list {
        gap: 24px;
    }

    .advantages-title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advantages-text {
        font-weight: 400;
    }

    .advantages-top {
        width: 100%;
        height: 112px;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* --------------------------------WORKS------------------------ */
    .works {
        display: block;
        padding-bottom: 120px;
    }

    .works-list {
        display: flex;
        gap: 24px;
    }

    .works-title {
        color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    /* ----------------------------------TEAM-------------------------- */

    .team {
        padding: 120px 0;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .team-list {
        gap: 24px;
    }

    /* ----------------------------CUSTOMS-------------------------- */

    .customs {
        padding: 120px 0;
        width: 100%;
    }

    .customs-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .customs-item {
        width: calc((100% - 120px) / 6);
    }

    /* ----------------------------FOOTER------------------------- */

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-link {
        margin-bottom: 16px;
        display: block;
    }

    .footer-title {
        display: block;
    }

    .footer-container-main {
        margin-right: 120px;
    }

    .footer-container-two {
        margin-left: 0;
    }

    .footer-container-third {
        margin-left: 80px;
        display: inline-block;
    }

    .footer-form-text {
        display: block;
        margin-top: 0;
    }

    .footer-input {
        min-width: 264px;
        margin-bottom: 0;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    /* ---------------------PORTFOLIO------------------- */

    .portfolio-btn{
        padding: 16px 24px;
    }

    .portfolio{
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .portfolio-list{
        margin-bottom: 72px;
    }

    .portfolio-img{
        width: 360px;
    }

    .portfolio-second-list{
        gap: 48px 24px;
    }
}